* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
h1 {
  font-family: "Tilt Neon", sans-serif;
  letter-spacing: 2px !important;
  font-size: 50px !important;
}
.bg-img {
  background-image: url(assets/bg.jpg);
  min-height: 100vh !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.shaded {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100vh !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-content {
  color: white;
}
.bg-img-sec-2 {
  background-image: url(assets/sec-2.jpg);
  min-height: 100vh !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
